/**********
 * buttons botones*
 **********/
.button {
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    padding: 6px;
    text-shadow: 0 1px @hilight_shadow;

}


/*botones*/
.button,
.button.default {
    color: @theme_fg_color;

    background-image: -gtk-gradient(  linear, left top, left bottom,

                from (shade(@theme_bg_color, 0.97)),
                color-stop (0.6, shade(@theme_bg_color, 0.96)),
                to (shade(@theme_bg_color, 0.96)));

    border-radius: 18px 18px 18px 18px;
    border-style: solid;
    border-width: 1px;
    border-top-color: alpha(@dark_shadow, 0.1);
    border-right-color: alpha(@dark_shadow, 0.1);
    border-bottom-color: alpha(@dark_shadow, 0.2);
    border-left-color: alpha(@dark_shadow, 0.1);

    box-shadow: inset 1px 0 alpha(@light_shadow, 0.7),
                inset 0 1px         @hilight_shadow,
                inset -1px 0 alpha(@light_shadow, 0.7),
                inset 0 -1px alpha(@light_shadow, 0.7);


    /*
    padding-left: 5px;
    padding-right:  5px;
    tira el padding dentro del boton
    */
}

            /*en foco, apretados*/
            .button:focus{ /*propuesto para apretar*/
    color: @theme_fg_color;

    background-image: -gtk-gradient(  linear, left top, left bottom,

                from (shade(@theme_bg_color, 0.97)),
                color-stop (0.6, shade(@theme_bg_color, 0.96)),
                to (shade(@theme_bg_color, 0.96)));

    border-radius: 18px 18px 18px 18px;
    border-style: solid;
    border-width: 1px;
    border-top-color: alpha(@dark_shadow, 0.1);
    border-right-color: alpha(@dark_shadow, 0.1);
    border-bottom-color: alpha(@dark_shadow, 0.1);
    border-left-color: alpha(@dark_shadow, 0.1);

    box-shadow: inset 1px 0 alpha(@light_shadow, 0.7),
                inset 0 1px         @hilight_shadow,
                inset -1px 0 alpha(@light_shadow, 0.7),
                inset 0 -1px alpha(@light_shadow, 0.7);
}



            .button:hover:focus,
            .button:active:focus,
            .button:active:focus:hover,
            .button:active:hover,
            .button:active,
            .button.default:active {
                color: @theme_selected_fg_color;

                background-image:   -gtk-gradient( linear, left top, left bottom,
                                    from (shade(@theme_bg_color, 0.95  )),
                                    color-stop (0.6, shade(@theme_bg_color, 0.97)),
                                    to (shade(@theme_bg_color, 0.97)));

                border-radius: 18px 18px 18px 18px;
                border-style: solid;
                border-top-color: alpha(@dark_shadow, 0.2); /*mouse over sobre el boton apretado*/
                border-right-color: alpha(@dark_shadow, 0.1);
                border-bottom-color: alpha(@dark_shadow, 0.1);
                border-left-color: alpha(@dark_shadow, 0.1);

                box-shadow: inset 0 1px alpha(@theme_selected_bg_color, 0.4),
                            inset 0 -1px alpha(@theme_selected_bg_color, 0.4);
            }



            /*mouse over*/
            .button:hover,
            .button.default:hover {
    color: @theme_fg_color;

    background-image: -gtk-gradient(  linear, left top, left bottom,

                from (shade(@theme_bg_color, 0.99)),
                color-stop (0.6, shade(@theme_bg_color, 0.98)),
                to (shade(@theme_bg_color, 0.98)));

    border-radius: 18px 18px 18px 18px;
    border-style: solid;
    border-width: 1px;
    border-top-color: alpha(white, 0.2);
    border-right-color: alpha(@dark_shadow, 0.1);
    border-bottom-color: alpha(@dark_shadow, 0.33); /*mouse over sobre otros botones*/
    border-left-color: alpha(@dark_shadow, 0.1);

    box-shadow: inset 1px 0 alpha(@light_shadow, 0.9),
                inset 0 1px         @hilight_shadow,
                inset -1px 0 alpha(@light_shadow, 0.9),
                inset 0 -1px alpha(@light_shadow, 0.9);
            }

            /*inactivos*/
            .button:insensitive,
            .button:insensitive:active {
   color: @theme_fg_color;

    background-image: -gtk-gradient(  linear, left top, left bottom,

                from (shade(@theme_bg_color, 0.995)),
                color-stop (0.6, shade(@theme_bg_color, 0.985)),
                to (shade(@theme_bg_color, 0.985)));

    border-radius: 18px 18px 18px 18px;
    border-style: solid;
    border-width: 1px;
    border-top-color: alpha(@dark_shadow, 0.1);
    border-right-color: alpha(@dark_shadow, 0.1);
    border-bottom-color: alpha(@dark_shadow, 0.2);
    border-left-color: alpha(@dark_shadow, 0.1);

    box-shadow: inset 1px 0 alpha(@light_shadow, 0.7),
                inset 0 1px         @hilight_shadow,
                inset -1px 0 alpha(@light_shadow, 0.7),
                inset 0 -1px alpha(@light_shadow, 0.7);
            }






/* middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:active:hover,
.linked .button:insensitive,
.toolbar .linked .entry,
.toolbar .linked .button,
.toolbar .linked .button:active,
.toolbar .linked .button:active:hover,
.toolbar .linked .button:insensitive,
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .linked .button:insensitive { /*boton del medio en selección de fondo de escritorio*/
    border-width: 1px;
    border-right-width: 0;
            border-radius: 18px 18px 18px 18px;


}

/* leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child,
.toolbar .linked .entry:first-child,
.toolbar .linked .button:first-child,
.toolbar .linked .button:active:first-child,
.toolbar .linked .button:active:hover:first-child,
.toolbar .linked .button:insensitive:first-child,
.primary-toolbar .linked .entry:first-child,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:first-child,
.primary-toolbar .linked .button:active:hover:first-child,
.primary-toolbar .linked .button:insensitive:first-child {
    border-width: 1px;
    border-right-width: 0;
    border-radius: 3px 0 0 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

            border-radius: 18px 18px 18px 18px;

}

/* rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:insensitive:last-child,
.toolbar .linked .entry:last-child,
.toolbar .linked .button:last-child,
.toolbar .linked .button:active:last-child,
.toolbar .linked .button:active:hover:last-child,
.toolbar .linked .button:insensitive:last-child,
.primary-toolbar .linked .entry:last-child,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:last-child,
.primary-toolbar .linked .button:active:hover:last-child,
.primary-toolbar .linked .button:insensitive:last-child {
    border-width: 1px;
    border-radius: 0 3px 0 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

            border-radius: 18px 18px 18px 18px;

}

/* linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:insensitive:only-child,
.toolbar .linked .entry:only-child,
.toolbar .linked .button:only-child,
.toolbar .linked .button:active:only-child,
.toolbar .linked .button:active:hover:only-child,
.toolbar .linked .button:insensitive:only-child,
.primary-toolbar .linked .entry:only-child,
.primary-toolbar .linked .button:only-child,
.primary-toolbar .linked .button:active:only-child,
.primary-toolbar .linked .button:active:hover:only-child,
.primary-toolbar .linked .button:insensitive:only-child {
    border-width: 1px;
    border-radius: 3px 3px 0 0;

            border-radius: 18px 18px 18px 18px;

}





/*Toolbar buttons*/


.toolbar .button,
.primary-toolbar GtkComboBox,
.primary-toolbar .button,
.primary-toolbar.toolbar .button,
.toolbar .raised .button,
.toolbar .raised.button,
.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar.toolbar .raised .button,
.primary-toolbar.toolbar .raised.button {
    color: @theme_fg_color;

    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-radius: 3px 3px 0 0;
    border-width: 1px;
    padding: 3px;

    text-shadow: 0 1px @hilight_shadow;
    box-shadow: none;
}

.toolbar .button:active,
.primary-toolbar .button:active,
.primary-toolbar.toolbar .button:active,
.toolbar .raised .button:active,
.primary-toolbar .raised .button:active,
.primary-toolbar.toolbar .raised .button:active {
    color: @theme_selected_fg_color;

    background-image: -gtk-gradient( linear, left top, left bottom,
        from (shade(@theme_bg_color, 0.89)),
	color-stop (0.6, shade(@theme_bg_color,0.91)),
        to (shade(@theme_bg_color, 0.88)));

    border-radius: 8px;
    border-top-color: alpha(@light_shadow, 0.8);
    border-right-color: alpha(@light_shadow, 0.4);
    border-bottom-color: transparent;
    border-left-color: alpha(@light_shadow, 0.4);
    border-style: solid;

    box-shadow: inset 1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 1px shade(@theme_selected_bg_color, 0.9),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 -1px transparent;
}

.toolbar .button:active:hover,
.primary-toolbar .button:active:hover,
.primary-toolbar.toolbar .button:active:hover,
.toolbar .raised .button:active:hover,
.primary-toolbar .raised .button:active:hover,
.primary-toolbar.toolbar .raised .button:active:hover {
    color: @theme_selected_fg_color;

    background-image: -gtk-gradient( linear, left top, left bottom,
        from (shade(@theme_selected_bg_color, 1.04)),
	color-stop (0.6, shade(@theme_bg_color, 0.94)),
        to (shade(@theme_bg_color, 1.01)));

    border-radius: 8px;
    border-top-color: alpha(@light_shadow, 0.8);
    border-right-color: alpha(@light_shadow, 0.4);
    border-bottom-color: alpha(@light_shadow, 0.4);
    border-left-color: alpha(@light_shadow, 0.4);
    border-style: solid;

    box-shadow: inset 1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 1px shade(@theme_selected_bg_color, 0.9),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 -1px alpha(@theme_selected_bg_color, 0.6);
}

.toolbar .button:hover,
.primary-toolbar .button:hover,
.primary-toolbar.toolbar .button:hover,
.toolbar .raised .button:hover,
.primary-toolbar .raised .button:hover,
.primary-toolbar.toolbar .raised .button:hover { /*mouse over de los botones de la toolbar, es una cosa vieja con las nuevas headers però*/
    color: @theme_selected_fg_color;

    background-color: alpha(@dark_shadow,0.03);
    background-image: none;
    border-radius: 8px;

    border-top-color: alpha(@light_shadow, 0.8);
    border-right-color: alpha(@light_shadow, 0.4);
    border-bottom-color: alpha(@light_shadow, 0.4);
    border-left-color: alpha(@light_shadow, 0.4);
    border-style: solid;

    text-shadow: 0 1px @hilight_shadow;
    icon-shadow: 0 0 @dark_shadow;
    box-shadow: none;

        box-shadow: inset 1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 1px shade(@theme_selected_bg_color, 0.9),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 -1px alpha(@theme_selected_bg_color, 0.6);

}

.toolbar .button:active:insensitive,
.primary-toolbar .button:active:insensitive,
.primary-toolbar.toolbar .button:active:insensitive,
.toolbar .button:insensitive,
.primary-toolbar .button:insensitive,
.primary-toolbar.toolbar .button:insensitive,
.toolbar .raised.button:insensitive,
.toolbar .raised .button:insensitive,
.primary-toolbar .raised.button:insensitive,
.primary-toolbar .raised .button:insensitive,
.primary-toolbar.toolbar .raised.button:insensitive,
.primary-toolbar.toolbar .raised .button:insensitive {
    color: mix(@theme_fg_color, @theme_bg_color, 0.6);
    border-radius: 8px;

    background-image: none;
    border-color: transparent;
    box-shadow: none;
}




/*Inline toolbar*/




.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar GtkToolButton .button {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    padding: 3px;
    color: @theme_fg_color;
    text-shadow: 0 1px @hilight_shadow;
}

.inline-toolbar.toolbar .raised .button,
.inline-toolbar.toolbar .raised.button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:hover {
    color: @theme_selected_fg_color;
    background-image: -gtk-gradient( linear, left top, left bottom,
        from (shade(red, 1.06)),
        to (@theme_bg_color));

    border-radius: 8px;
    border-width: 1px;
    border-top-color: alpha(@dark_shadow, 0.1);
    border-right-color: alpha(@dark_shadow, 0.1);
    border-bottom-color: alpha(@dark_shadow, 0.1);
    border-left-color: alpha(@dark_shadow, 0.1);

    box-shadow: inset 1px 0 alpha(@light_shadow, 0.7),
                inset 0 1px @hilight_shadow,
                inset -1px 0 alpha(@light_shadow, 0.7),
		inset 0 -1px alpha(@light_shadow, 0.7);
}

.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar GtkToolButton .button:active {
    color: @theme_selected_fg_color;

    background-image: -gtk-gradient( linear, left top, left bottom,
        from (shade(@theme_selected_bg_color, 1.05)),
	color-stop (0.6, shade(@theme_bg_color, 0.98)),
        to (shade(@theme_bg_color, 1.01)));

    border-radius:  5px 5px 5px 5px;
    border-top-color: alpha(@light_shadow, 0.8);
    border-right-color: alpha(@light_shadow, 0.4);
    border-bottom-color: alpha(@light_shadow, 0.4);
    border-left-color: alpha(@light_shadow, 0.4);
    border-style: solid;

    box-shadow: inset 1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 1px shade(@theme_selected_bg_color, 0.9),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 -1px alpha(@theme_selected_bg_color, 0.6);
}

.inline-toolbar.toolbar .button:active:hover,
.inline-toolbar.toolbar GtkToolButton .button:active:hover {
    color: @theme_selected_fg_color;

    background-image: -gtk-gradient( linear, left top, left bottom,
        from (shade(@theme_selected_bg_color, 1.04)),
	color-stop (0.6, shade(@theme_bg_color, 0.94)),
        to (shade(@theme_bg_color, 1.01)));

    border-radius:  5px 5px 5px 5px;
    border-top-color: alpha(@light_shadow, 0.8);
    border-right-color: alpha(@light_shadow, 0.4);
    border-bottom-color: alpha(@light_shadow, 0.4);
    border-left-color: alpha(@light_shadow, 0.4);
    border-style: solid;

    box-shadow: inset 1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 1px shade(@theme_selected_bg_color, 0.9),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.6),
                inset 0 -1px alpha(@theme_selected_bg_color, 0.6);
}

.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar GtkToolButton .button:hover {
    color: @theme_selected_fg_color;

    background-color: transparent;
    background-image: none;
    border-color: transparent;

    text-shadow: 0 1px @hilight_shadow;
    icon-shadow: 0 0 @dark_shadow;
    box-shadow: none;
}

.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar .button:active:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    background-image: none;

    border-top-color: alpha(@dark_shadow, 0.1);
    border-right-color: alpha(@dark_shadow, 0.05);
    border-bottom-color: alpha(@dark_shadow, 0.05);
    border-left-color: alpha(@dark_shadow, 0.05);

    box-shadow: inset 1px 0 alpha(@light_shadow, 0.3),
                inset 0 1px alpha(@light_shadow, 0.5),
                inset -1px 0 alpha(@light_shadow, 0.3),
		inset 0 -1px alpha(@light_shadow, 0.3);
}

/* middle button */
.primary-toolbar .button.raised.linked,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .button.raised.linked:focus,
.primary-toolbar .button.raised.linked:focus:active,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .raised.linked .button,
.primary-toolbar .raised.linked .button:active,
.primary-toolbar .raised.linked .button:focus,
.primary-toolbar .raised.linked .button:focus:active,
.primary-toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button:focus:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:focus,
.inline-toolbar.toolbar GtkToolButton .button:focus:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
    border-right-width: 0;
    border-left-width: 1px;
    border-radius: 0;
}

/* leftmost button */
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .button.raised.linked:active:first-child,
.primary-toolbar .button.raised.linked:focus:first-child,
.primary-toolbar .button.raised.linked:focus:active:first-child,
.primary-toolbar .button.raised.linked:insensitive:first-child,
.primary-toolbar .raised.linked .button:first-child,
.primary-toolbar .raised.linked .button:active:first-child,
.primary-toolbar .raised.linked .button:focus:first-child,
.primary-toolbar .raised.linked .button:focus:active:first-child,
.primary-toolbar .raised.linked .button:insensitive:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:active:first-child,
.inline-toolbar.toolbar .button:focus:first-child,
.inline-toolbar.toolbar .button:focus:active:first-child,
.inline-toolbar.toolbar .button:insensitive:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child .button,
.inline-toolbar.toolbar GtkToolButton:first-child .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:insensitive {
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 5px 0 0 5px;
}

/* rightmost button */
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .button.raised.linked:active:last-child,
.primary-toolbar .button.raised.linked:focus:last-child,
.primary-toolbar .button.raised.linked:focus:active:last-child,
.primary-toolbar .button.raised.linked:insensitive:last-child,
.primary-toolbar .raised.linked .button:last-child,
.primary-toolbar .raised.linked .button:active:last-child,
.primary-toolbar .raised.linked .button:focus:last-child,
.primary-toolbar .raised.linked .button:focus:active:last-child,
.primary-toolbar .raised.linked .button:insensitive:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:active:last-child,
.inline-toolbar.toolbar .button:focus:last-child,
.inline-toolbar.toolbar .button:focus:active:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child .button,
.inline-toolbar.toolbar GtkToolButton:last-child .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:insensitive {
    border-left-width: 0;
    border-right-width: 1px;
    border-radius: 0 15px 15px 0;
}

/* single button */
.primary-toolbar.toolbar .button:only-child,
.primary-toolbar.toolbar .button:active:only-child,
.primary-toolbar.toolbar .button:focus:only-child,
.primary-toolbar.toolbar .button:focus:active:only-child,
.primary-toolbar.toolbar .button:insensitive:only-child,
.primary-toolbar.toolbar GtkToolButton:only-child .button,
.primary-toolbar.toolbar GtkToolButton:only-child .button:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus,
.primary-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.primary-toolbar.toolbar GtkToolButton:only-child .button:insensitive,
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:focus:only-child,
.inline-toolbar.toolbar .button:focus:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child .button,
.inline-toolbar.toolbar GtkToolButton:only-child .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:insensitive {
    border-right-width: 1px;
    border-left-width: 1px;
        border-radius: 5px 5px 5px 5px;

}




.header-bar .button.text-button {
    padding: 2px 16px;
}

.header-bar .button.image-button {
    padding: 5px 7px 5px 7px;
}


.header-bar .button {
    background-color: @theme_bg_color;
    background-image: none;
    border-color: transparent;
    color: @theme_fg_color;

    text-shadow: 0 1px @hilight_shadow;
    icon-shadow: none;
    box-shadow: none;
        border-radius: 13px;

}

.header-bar .button:hover {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    color: @theme_selected_fg_color;

    text-shadow: 0 1px @hilight_shadow;
    icon-shadow: 0 0 @dark_shadow;
    box-shadow: none;
}

.header-bar .button:active,
.header-bar .button:active:hover {
    background-image: -gtk-gradient( linear, left top, left bottom,
        from (shade(@theme_selected_bg_color, 1.05)),
	color-stop (0.6, shade(@theme_bg_color, 0.98)),
        to (shade(@theme_bg_color, 0.99)));

    border-radius: 13px;
    border-top-color: alpha(@light_shadow, 0.4);
    border-right-color: alpha(@light_shadow, 0.2);
    border-bottom-color: transparent;
    border-left-color: alpha(@light_shadow, 0.2);
    border-style: solid;

    box-shadow: inset 1px 0 alpha(@theme_selected_bg_color, 0.4),
                inset 0 1px shade(@theme_selected_bg_color, 0.9),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.4),
                inset 0 -1px transparent;
}

.header-bar .button:insensitive,
.header-bar .button:active:insensitive {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    color: mix(@theme_fg_color, @theme_bg_color, 0.6);

    text-shadow: 0 1px @light_shadow;
    icon-shadow: none;
    box-shadow: none;
}
